@mixin hook-card() { color: #000; }
@mixin hook-button(){
    border-radius: 6px;
    
}
@mixin hook-button-primary(){
    font-size: 16px;
}
@mixin hook-card-default(){
    border-radius: 4px;
}

@mixin hook-notification(){
    width: 100%;
    &.uk-notification-top-center{
        left: 0;
        margin-left: 0;
    }
}